:root {
  --dark: #0e2431;
  --primary: #fc3a52;
  --accent: #f9b248;
  --light: #fff1db;
  --text: #e5e5e5;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat";
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  width: 100%;
  font-family: "Montserrat";
}
h2 {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h5 {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h6 {
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 0;
  font-family: "Montserrat";
}
p {
  margin: 0;
  padding: 0;
}
.yellow-text {
  color: var(--accent);
}
.content{
  margin: 100px ;
}

.content h2{
  font-weight: 500;
  margin-top: 125px;
  margin-bottom: 20px;
}

.brief{
  margin-top: 75px;
  padding: 0 10%;
}

.brief p{
  text-align: center;
  margin-top: 50px;
}

.image{
  margin-left: 35%;
}

.image img{
  width: 56%;
}

.teams h2{
  text-align: center;
  font-weight: 500;
}

.teams .row{
  text-align: center;
}

.teams .row p{
  margin-top: 3%;
  font-weight: 700;
}

.teams img{
  
  margin: 15% 0 2% 0;
}

.teams > div > div p:nth-of-type(2){
  font-weight: 400;
  margin-top: 0px;
} 

/* ------------------------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
  .content {
    margin: -20px 0 ;
    padding: 7%;
    /* text-align: center; */
  }

  .content > div > div > img{
    width: 100% ;
    margin-top: 60px;
  }

  .content h2{
    text-align: center;
  }

  .brief p{
    text-align: left;
  }

  .brief{
    padding: 0;
    text-align: center;
  }
  
  .image{
    margin-left:0 ;
    text-align: center;
  }
  .image img{
    margin-top: 50px;
    margin-bottom: 0;
    width: 90%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .content {
    margin: 0 ;
    padding: 7%;
    /* text-align: center; */
  }

  .content > div > div > img{
    width: 90% ;
    margin-top: 60px;
  }

  .content h2{
    text-align: center;
  }

  .brief p{
    text-align: left;
  }

  .brief{
    padding: 0;
    text-align: center;
  }
  
  .image{
    margin-left:0 ;
    text-align: center;
  }
  .image img{
    margin-top: 50px;
    margin-bottom: 0;
    width: 90%;
  }
}