:root {
    --dark: #0e2431;
    --primary: #fc3a52;
    --accent: #f9b248;
    --light: #FFF1DB;
    --text: #e5e5e5;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    background-color: #fff;
    font-family: "Montserrat";
  }
  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }

  h1{
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
    width: 100%;
    font-family: "Montserrat";
  }
  h2{
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: "Montserrat";
  }
  h5{
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.1;
    font-family: "Montserrat";
  }
  h6{
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.1;
    margin: 0;
    font-family: "Montserrat";
  }

  p{
    margin: 0;
    padding: 0;
  }

  .yellow-text{
    color: var(--accent);
  }

  .contact-us{
    padding: 10% 7% 5%;
  }

  .contact-text-wrapper{
    padding-right: 50%;
  }

  .social-img{
    margin-right: 20px;
  }

  .social-links{
    margin-top: 50px;
  }

  .proposal-text-wrapper {
    margin-left: 7%;
    /* padding-right: 20%; */
    /* line-height: 1.5; */
  }

  hr{
    width: 1px;
    height: 210px;
    border-left: 2px solid black ;
    float: left !important;
  }

  .timeline{
    margin-top: 100px;
  }
  
  .timeline > div{
    display: block;
    margin-left: -14px;
    position: absolute;
  }
  .timeline > div img{
    height: 30px;
  }
  .timeline > div:nth-child(2){
   margin-top: 105px;

  }
  .timeline > div:nth-child(3){
    bottom: 0px;
  }