:root {
  --dark: #0e2431;
  --primary: #fc3a52;
  --accent: #f9b248;
  --light: #FFF1DB;
  --text: #e5e5e5;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat";
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
h1{
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  width: 100%;
  font-family: "Montserrat";
}
h2{
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h5{
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h6{
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 0;
  font-family: "Montserrat";
}
p{
  margin: 0;
  padding: 0;
}

.yellow-text{
  color: var(--accent);
}
.hover-popup{  
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.hover-popup:hover{  
  transform: scale(1.05);
}

/* --------------------------------------------- Navbar------------------------------ */

#nav-section {
  content: "";
  position: fixed;
  margin: 10px 2% 0%;
  width: 96%;
  box-shadow: inset 0 0 2000px rgba(220, 220, 220, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  z-index: 9999;
}
.nav-btn,
.nav-btn:active,
.nav-btn:visited,
.nav-btn:hover,
.nav-btn:link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}
.dot:not(.nav-active, .nav-item:nth-child(6)){    
    display: inline-block;
    position: relative;
}
.dot::before {
    content: '.';
    font-weight: 900;
    font-size: 1.2rem;
    display: inline-block;
    position: absolute;
    bottom: -0.5em;
    left: 50%;
    color: var(--accent);
}
.nav-item {
  border-radius: 15px;
  padding: 4px 15px;
  margin: 0 3px;
  width: 120px;
  text-align: center;
}
.cart {
    width: 30px;
    text-align: center;
}
.nav-item:nth-child(5) {
  margin-right: 60px;
}
.nav-active {
  background-color: var(--accent);
  transition: 0.5s;
}
.navbar .navbar-toggler {
  border-color: transparent;
  outline: none;
}
.navbar .navbar-toggle-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no center center;
  background-size: 100% 100%;
}

/*------------------------------------ Home Section---------------------------------- */

#home .red-circle{
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30%;
  z-index: -1;
}
#home .green-circle{
  position: absolute;
  left: 10%;
  top: 50%;
  width: 30%;
  z-index: -1;
}
#home .yellow-circle{
  position: absolute;
  right: 30px;
  top: 30px;
  width: 30%;
}
#home .blue-circle{
  position: absolute;
  right: 10%;
  top: 65%;
  width: 30%;
  z-index: -1;
}
#home .right-1{
  position: absolute;
  left: 60px;
  top: 100px;
  z-index: -1;
}
#home .right-2{
  position: absolute;
  left:45%;
  top: 200px;
  z-index: -1;
  animation: grp-1-anim 16s linear 0.5s infinite  both;
}
#home .right-3{
  position: absolute;
  right:70px;
  top: 300px;
  animation: grp-1-anim 10s linear 0.9s infinite  both;
}
#home .right-4{
  position: absolute;
  left:70px;
  bottom: 150px;
  z-index: -1;
  animation: grp-1-anim 15s linear 1s infinite  both;
}
#home .right-5{
  position: absolute;
  right:20%;
  bottom: 50px;
  z-index: -1;
  animation: grp-1-anim 12s linear 1.3s infinite  both;
}
#home .left-1{
  position: absolute;
  left: 60px;
  top: 90px;
  z-index: -1;
  animation: grp-2-anim 15s linear infinite  both;
}
#home .left-2{
  position: absolute;
  left:25%;
  top: 150px;
  z-index: -1;
  animation: grp-2-anim 16s linear 0.5s infinite  both;
}
#home .left-3{
  position: absolute;
  right:32%;
  top: 130px;
  z-index: -1;
  animation: grp-2-anim 18s linear 0.9s infinite  both;
}
#home .left-4{
  position: absolute;
  right:12%;
  top: 120px;
  z-index: -1;
}
#home .left-5{
  position: absolute;
  left:20%;
  top: 80%;
  z-index: -1;
}
#home .left-6{
  position: absolute;
  left:30%;
  top: 100%;
  z-index: -1;
}
#home .left-7{
  position: absolute;
  left:45%;
  bottom: 5%;
  z-index: -1;
}
#home .left-8{
  position: absolute;
  right:20%;
  bottom: 10px;
  z-index: -1;
}
.home-wrapper{
  padding-top: 20%;
  padding-bottom: 20%;
  padding-left: 5%;
  width: auto;
}
#home .home-image-wrapper{
  padding: 12% 0;
  width: 100%;
}
#get-started-btn{
  background-color: var(--primary);
  width: 200px;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px 10px 10px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.right-arrow{
  margin-left: 20px;
  animation: left-right 2s linear infinite  both;
}
@keyframes left-right {
  0% {
    margin-left: 20px;
  }
  50% {
    margin-left: 26px;
  }
  100% {
    margin-left: 20px;
  }
}
@keyframes grp-1-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(-20px,0);
  }
  32% {
    transform: translate(25px,15px);
  }
  48% {
    transform: translate(30px,-23px);
  }
  64% {
    transform: translate(-30px,0);
  }
  80% {
    transform: translate(27px,25px);
  }
  96% {
    transform: translate(14px,0);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}
@keyframes grp-2-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(0,-20px);
  }
  32% {
    transform: translate(15px,25px);
  }
  48% {
    transform: translate(-23px,-30px);
  }
  64% {
    transform: translate(0,-30px);
  }
  80% {
    transform: translate(25px,27px);
  }
  96% {
    transform: translate(0,14px);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}
/*-------------------------------------------------- Core Feature------------------------------------- */


#features{  
  margin-top: 2%;
  padding: 0% 20% 5%;
}
.feature-card-wrapper{
  padding: 0 15px;
  margin: 0;
}
.feature-card{  
  border-radius: 10px;
  height: auto;
  min-height: 40%;
  width: 100%;
  text-align: center;
  margin: 25px 0;
  padding: 10% 0 ;
  background-color: #fff;
  box-shadow:  0 0 20px #373b3d57;
  backdrop-filter: blur(25px);
}
.feature-card .feature-header{
  margin: 20px;
}
.card-img{
  width: 40%;
  margin: 0 auto;
  display: block;
}
#card-digital-advertising{
  margin-top: 40%;
}

#explore-now-btn{
  background-color: var(--primary);
  width: 230px;
  margin-top: 30px;
  padding: 10px 10px 10px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}
.feature-title{
  margin-top: 15%;
  padding-left: 7%;
}
#features .yellow-circle{
  position: absolute;
  left: 2%;
  width: 30%;
  z-index: -1;
  
}
#features .blue-circle{
  position: absolute;
  right: 10%;
  top: 165%;
  width: 30%;
  z-index: -1;
}
/* ----------------------------------------------------------------Relation--------------------------------------------------------------- */
.relation{
  padding: 7% 15% 3%;
}
.relation-header p{
  margin-top: 40px;
  width: 60%;
}
.relation-expand-wrapper{
  display: flex;
  align-items: center;
}
.relation-title{
  display: flex;
  align-items: center;
}
.relation-title div{
  display: inline-block;
  margin-left: 20px;
}
.relation-expand{
  height: 60%;
}
.relation-card{
  height: 90px;
  margin: 15px 0;
  padding: 10px 10px;
  background-color: var(--light);
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.relation-card img{
  height: 40px;
  width: 40px;
  margin: 0 5px;
}
.relation-card  .gps{
  height: 30px;
  width: 30px;
  margin: 0 5px;
  position: absolute;
  right: 0;
}

.relation-card div{
  margin-left: 10px;
}
.relation-card > div{
  width: 75%;
}
#hr-1{
  width: 75%;
  border: none;
  height: 3px;
  background: #C4C4C4;
  margin-bottom: 10px;
  text-align:left;
  margin-left:0;
  border-radius: 20px;
}
#hr-2{
  width: 55%;
  border: none;
  height: 3px;
  background: #A6A6A6;
  margin-bottom: 20px;
  text-align:left;
  margin-left:0;
  border-radius: 20px;
}
.card-influencer{
  background-color: var(--light);
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  height: 180px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.card-influencer > img{
  height: 150px;
  width: 150px;
  position: relative;
  top: -75px;
  margin: 0;
}
.card-influencer h5{
  margin-top: -65px;
  font-weight: 600;
}
.card-likes{
  background-color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  height: 250px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}
.card-likes .heart{
  margin-top: 40px;
}
.card-likes h5{
  margin-top: 20px;
}
.card-likes span{
  color: #14EB1C;
}
.relation .red-circle{
  position: absolute;
  right: 10%;
  top: 260%;
  z-index: -1;
  
}

/* ----------------------------------------------------------------Plan--------------------------------------------------------------- */
#plan{
  margin-top: 10%;
  padding: 0 10%;
}
#plan .blue-circle{
  position: absolute;
  left: -2%;
  margin-top: -10%;
  z-index: -1;
}
#plan .yellow-circle{  
  position: absolute;
  right: 0;
  margin-top: 5%;
  z-index: -1;
}
#plan .green-circle{
  position: absolute;
  left: -10%;
  margin-top: 26%;
  z-index: -1;

}
#plan .red-circle{
  position: absolute;
  right: 10%;
  margin-top: 36%;
  z-index: -1;
}
#plan h2{
  text-align: center;
}
#plan > p{
  text-align: center;
  margin-bottom: 70px;
}
.plan-card{
  height: fit-content;
  padding: 20px 20px 0;
  margin: 30px 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
}
.plan-header{
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 35px;
}
.plan-card:nth-child(1) .plan-header ,.plan-card:nth-child(1)  .plan-price{  
  background-color: #D672F9;
}
.plan-card:nth-child(2) .plan-header ,.plan-card:nth-child(2) .plan-price{  
  background-color: #86EA9C;
}
.plan-card:nth-child(3) .plan-header ,.plan-card:nth-child(3) .plan-price{  
  background-color: #6BC1F1;
}
.plan-detail{
  text-align: left;
  margin-top: 10px;
}
.plan-detail:last-of-type{
  margin-bottom: 40px;
}
.plan-detail > img{
  width: 25px;
  height: 25px;
}
.plan-price{
  position: relative;
  bottom: -20px;
  width: 60%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  border-radius: 20px;
}

/*-------------------------------------------------- Testimonmials--------------------------------------- */
.testimonial{
  margin-top: 10%;
  padding: 2% 10%;
}
.testimonial .yellow-circle{  
  position: absolute;
  left: -30%;
  margin-top: 5%;
  z-index: -1;
}
.testimonial h2{
  text-align: center;
}
.testimonial .testimonial-card{
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
  margin: 10% 10px 0;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
.testimonial-card img{
  width: 90px;
  height: 90px;
  position: relative;
  top: -45px;
}
.testimonial-card p{
  position: relative;
  top: -25px;
}
/*-------------------------------------------------- Media Query--------------------------------------- */


@media only screen and (max-width: 768px) {
  
  .nav-item {
    margin: auto;
    text-align: center;
  }
  .nav-item:nth-child(5) {
    margin: auto;
  }
  .navbar-nav{
    margin-top: 20px;
  }
  .cart {
    width: auto;
  }
  h1{
    font-weight: 600;
    line-height: 1.1;
  }
  h5{
    font-weight: 400;
    line-height: 1.1;
  }
  #home .red-circle{
    left: -30px;
    top: 30px;
    width: 60%;
  }
  #home .green-circle{
    left: -60px;
    width: 70%;
  }
  #home .yellow-circle{
    right: 0;
    top: 50px;
    width: 70%;
  }
  #home .blue-circle{
    right: 0;
    top: 85%;
    width: 80%;
  } 
  .home-wrapper{
    padding-top: 40%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    text-align: center;
  }
  #home .home-image-wrapper{
    padding: 12% 0;
    width: 100%;
  }
  #home .home-image{
    padding-top: 12%;
    padding-left: 18%;
    padding-right: 15%;
    width: 100%;
  }
  #get-started-btn{
    width: auto;
    margin-top: 30px;
    margin-left: 11%;
    margin-right: 11%;
  }
  #home .right-1{
    visibility: hidden;
  }
  #home .right-2{
    position: absolute;
    left:70%;
    top: 130px;
  }
  #home .right-3{
    position: absolute;
    right: 0;
    top: 55%;
  }
  #home .right-4{
    position: absolute;
    left:40px;
    top: 65%;  
    bottom: 0;
  }
  #home .right-5{
    visibility: hidden;
  }

  #home .left-1{
    visibility: hidden;
  }
  #home .left-2{
    position: absolute;
    left:-20px;
    top: 150px;
    animation: grp-2-anim 16s linear 0.5s infinite  both;
  }
  #home .left-3{
    position: absolute;
    right:32%;
    top: 50px;
    animation: none;
  }
  #home .left-4{
    visibility: hidden;
  }
  #home .left-5{
    visibility: hidden;
  }
  #home .left-6{
    position: absolute;
    left:30%;
    top: 115%;
    width: 40px;
    z-index: -1;
  }
  #home .left-7{
    visibility: hidden;
  }
  #home .left-8{
    position: absolute;
    right:5%;
    bottom: 0px;
    top: 105%;
    width: 30px;
    animation: grp-2-anim 30s linear 0.5s infinite  both;
  }

  @keyframes grp-1-anim {
    0% {
      transform: translate(0,0);
    }
    16% {
      transform: translate(-10px,-15px);
    }
    32% {
      transform: translate(-30px,-5px);
    }
    48% {
      transform: translate(-10px,10px);
    }
    64% {
      transform: translate(-5px,20px);
    }
    80% {
      transform: translate(-10px,10px);
    }
    96% {
      transform: translate(-5px,5px);
    }
    100% {
      transform: translate(0,0);
    }
  }
  
  #features{  
    margin-top: 2%;
    padding: 0% 10%;
  }
  .feature-title{
    margin-top: 40%;
    text-align: center;
    padding-left: 0;
    position: relative;
    top: 0;
  }
  #explore-now-btn{
    width: 220px;
    margin: 30px auto 0;
  }
  #get-started-btn{
    width: 220px;
    margin: 30px auto 0;
  }
  #card-digital-advertising{
    margin-top: 0;
  }
  #features .yellow-circle{
    position: absolute;
    left: -50%;
    width: 80%;
    
  }
  #features .blue-circle{
    position: absolute;
    right: 0;
    width: 80%;
    top: 300%;
  }
  .relation{
    padding: 7% 5%;
  }
  .relation-header{
    text-align: center;
  }
  .relation-header p{
    text-align: center;
    width: 100%;
    padding: 10%;
    margin-top: 25px;
  }
  .relation-title{
    justify-content: center;
  }
  .relation-expand{
    width: 70%;
    margin: 0 15%;
  }
  .card-influencer{
    margin-top: 100px;
  }
  #plan{
    display: none;
  }
  .testimonial .testimonial-card{
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
    margin: 45px auto 0;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
  }
  .testimonial .yellow-circle{  
    position: absolute;
    left: -70%;
    margin-top: 5%;
    z-index: -1;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .nav-item {
    margin: auto;
    text-align: center;
  }
  .nav-item:nth-child(5) {
    margin: auto;
  }
  .navbar-nav{
    margin-top: 20px;
  }
  .cart {
    width: auto;
  }
  h1{
    font-weight: 600;
    line-height: 1.1;
  }
  h5{
    font-weight: 400;
    line-height: 1.1;
  }
  #home .red-circle{
    left: -30px;
    top: 30px;
    width: 60%;
  }
  #home .green-circle{
    left: -60px;
    width: 70%;
  }
  #home .yellow-circle{
    right: 0;
    top: 50px;
    width: 70%;
  }
  #home .blue-circle{
    right: 0;
    top: 85%;
    width: 80%;
  } 
  .home-wrapper{
    padding-top: 20%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    text-align: center;
  }
  #home .home-image-wrapper{
    padding: 4% 0;
    width: 100%;
  }
  #home .home-image{
    padding-top: 2%;
    padding-left: 18%;
    padding-right: 15%;
    width: 100%;
  }
  #get-started-btn{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  #home .right-1{
    visibility: hidden;
  }
  #home .right-2{
    position: absolute;
    left:70%;
    top: 130px;
  }
  #home .right-3{
    position: absolute;
    right: 0;
    top: 55%;
  }
  #home .right-4{
    position: absolute;
    left:40px;
    top: 65%;  
    bottom: 0;
  }
  #home .right-5{
    visibility: hidden;
  }

  #home .left-1{
    visibility: hidden;
  }
  #home .left-2{
    position: absolute;
    left:-20px;
    top: 150px;
    animation: grp-2-anim 16s linear 0.5s infinite  both;
  }
  #home .left-3{
    position: absolute;
    right:32%;
    top: 50px;
    animation: none;
  }
  #home .left-4{
    visibility: hidden;
  }
  #home .left-5{
    visibility: hidden;
  }
  #home .left-6{
    position: absolute;
    left:30%;
    top: 115%;
    width: 40px;
    z-index: -1;
  }
  #home .left-7{
    visibility: hidden;
  }
  #home .left-8{
    position: absolute;
    right:5%;
    bottom: 0px;
    top: 105%;
    width: 30px;
    animation: grp-2-anim 30s linear 0.5s infinite  both;
  }

  @keyframes grp-1-anim {
    0% {
      transform: translate(0,0);
    }
    16% {
      transform: translate(-10px,-15px);
    }
    32% {
      transform: translate(-30px,-5px);
    }
    48% {
      transform: translate(-10px,10px);
    }
    64% {
      transform: translate(-5px,20px);
    }
    80% {
      transform: translate(-10px,10px);
    }
    96% {
      transform: translate(-5px,5px);
    }
    100% {
      transform: translate(0,0);
    }
  }

  #features{  
    margin-top: 2%;
    padding: 0% 10% 5%;
  }

  .feature-title{
    margin-top: 10%;
    margin-bottom: 50px;
    text-align: center;
    padding-left: 0;
    position: relative;
    top: 0;
  }
  #explore-now-btn{
    width: 220px;
    margin: 30px auto 0;
  }
  #get-started-btn{
    width: 220px;
    margin: 30px auto 0;
  }
  #card-digital-advertising{
    margin-top: 0;
  }
  #features .yellow-circle{
    position: absolute;
    left: -50%;
    width: 80%;
    
  }
  #features .blue-circle{
    position: absolute;
    right: 0;
    width: 80%;
    top: 300%;
  }
  .relation{
    padding: 7% 5%;
  }
  .relation-card{
    margin-left: 15px;
  }
  .relation-header{
    text-align: center;
  }
  .relation-header p{
    text-align: center;
    width: 100%;
    padding: 10%;
    margin-top: 25px;
  }
  .relation-title{
    justify-content: center;
  }
  .relation-expand{
    width: 70%;
    margin: 0 15%;
  }
  .card-influencer{
    margin: 100px auto 0;
  }
  .card-likes{
    margin: 40px auto 0;
  }
  #plan{
    display: none;
  }
  .testimonial .testimonial-card{
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.20);
    margin: 8% 10px 0;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
  }
  .testimonial .yellow-circle{  
    position: absolute;
    left: -70%;
    margin-top: 5%;
    z-index: -1;
  }

}