:root {
  --dark: #0e2431;
  --primary: #fc3a52;
  --accent: #f9b248;
  --light: #fff1db;
  --text: #e5e5e5;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat";
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
h1 {
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
  width: 100%;
  font-family: "Montserrat";
}
h2 {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h5 {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.1;
  font-family: "Montserrat";
}
h6 {
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.1;
  margin: 0;
  font-family: "Montserrat";
}
p {
  margin: 0;
  padding: 0;
}
/* ----------------------------------------------------------------Plan--------------------------------------------------------------- */
#plan{
  margin-top: 8em;
  padding: 0 10%;
}
#plan .blue-circle{
  position: absolute;
  left: -2%;
  margin-top: -10%;
  z-index: -1;
}
#plan .yellow-circle{  
  position: absolute;
  right: 0;
  margin-top: 5%;
  z-index: -1;
}
#plan .green-circle{
  position: absolute;
  left: -10%;
  margin-top: 26%;
  z-index: -1;

}
#plan .red-circle{
  position: absolute;
  right: 10%;
  margin-top: 36%;
  z-index: -1;
}
#plan h2{
  text-align: center;
}
#plan > p{
  width: 60%;
  text-align: center;
  margin: 0 auto 30px;
}
.plan-card{
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 20px 0;
  margin: 30px 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.20);
}
.plan-header{
  text-align: center;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 35px;
}
.plan-card:nth-child(1) .plan-header ,.plan-card:nth-child(1)  .plan-buy{  
  background-color: #D672F9;
}
.plan-card:nth-child(2) .plan-header ,.plan-card:nth-child(2) .plan-buy{  
  background-color: #86EA9C;
}
.plan-card:nth-child(3) .plan-header ,.plan-card:nth-child(3) .plan-buy{  
  background-color: #6BC1F1;
}
.plan-detail{
  text-align: left;
  margin-top: 10px;
}
.plan-detail:last-of-type{
  margin-bottom: 40px;
}
.plan-detail > img{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.plan-card .plan-price{
  margin: 0 0 20px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.plan-buy{
  position: relative;
  bottom: -20px;
  width: 70%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  color: #fff;
  border-radius: 20px;
}
.custom-service{
  margin-top: 5em;
  text-align: center;
}

#custom-service-btn{
  background-color: var(--primary);
  width: 230px;
  margin: 30px auto;
  padding: 10px 10px 10px 25px;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.right-arrow{
  margin-left: 20px;
  -webkit-animation: left-right 2s linear infinite  both;
          animation: left-right 2s linear infinite  both;
}
@-webkit-keyframes left-right {
  0% {
    margin-left: 20px;
  }
  50% {
    margin-left: 26px;
  }
  100% {
    margin-left: 20px;
  }
}
@keyframes left-right {
  0% {
    margin-left: 20px;
  }
  50% {
    margin-left: 26px;
  }
  100% {
    margin-left: 20px;
  }
}
@-webkit-keyframes grp-1-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(-20px,0);
  }
  32% {
    transform: translate(25px,15px);
  }
  48% {
    transform: translate(30px,-23px);
  }
  64% {
    transform: translate(-30px,0);
  }
  80% {
    transform: translate(27px,25px);
  }
  96% {
    transform: translate(14px,0);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}
@keyframes grp-1-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(-20px,0);
  }
  32% {
    transform: translate(25px,15px);
  }
  48% {
    transform: translate(30px,-23px);
  }
  64% {
    transform: translate(-30px,0);
  }
  80% {
    transform: translate(27px,25px);
  }
  96% {
    transform: translate(14px,0);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}
@-webkit-keyframes grp-2-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(0,-20px);
  }
  32% {
    transform: translate(15px,25px);
  }
  48% {
    transform: translate(-23px,-30px);
  }
  64% {
    transform: translate(0,-30px);
  }
  80% {
    transform: translate(25px,27px);
  }
  96% {
    transform: translate(0,14px);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}
@keyframes grp-2-anim {
  0% {
    transform: translate(0,0);
  }
  16% {
    transform: translate(0,-20px);
  }
  32% {
    transform: translate(15px,25px);
  }
  48% {
    transform: translate(-23px,-30px);
  }
  64% {
    transform: translate(0,-30px);
  }
  80% {
    transform: translate(25px,27px);
  }
  96% {
    transform: translate(0,14px);
  }
  100% {
    transform: translate(0px , 0px);
  }
  
}

.custom-service .yellow-circle{
  position: absolute;
  left: -35%;
  top: 95%;
  z-index: -1;
}

footer{
  margin-top: 10%;
}

@media only screen and (max-width: 768px) {
    
  #plan > p{
    width: 100%;
  }
  .plan-card{
    padding: 20px 10px 0
  }
  .plan-card .plan-detail{
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {

  #plan > p{
    width: 100%;
  }
}